.footer-menu {
  background: #fff !important;
  margin-top: 2rem;
  @media (prefers-color-scheme: dark) {
    background: #000 !important;
  }

  .social_media {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #333;
      @media (prefers-color-scheme: dark) {
        color: hsla(0, 0%, 100%, 0.85) !important;
      }
    }
  }
  .copyright_text {
    text-align: right;
  }
}
