.footer-menu {
  background: #fff !important;
  margin-top: 2rem;
  &.dark {
    background: rgb(0, 21, 41) !important;
  }

  .social_media {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: #333;
    }
  }
  .copyright_text {
    text-align: right;
  }
}
