@import 'mixins';
@import 'fonts';
@import 'variables';
@import 'components/index.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.ant-card-cover > * {
  display: block !important;
}
