.tabContent,
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabContent {
  flex-direction: column;
}

.logo {
  border-radius: 1rem;
}

.buttonContainer {
  Button {
    background-color: orange;
    border-color: transparent;
  }

  Button:hover {
    background-color: rgb(255, 136, 0);
    border-color: transparent;
  }
}

.faqPanel {
  min-width: 60rem;
}
