.tabContent,
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabContent {
  flex-direction: column;
}
.pastEbecImgContainer {
  display: flex;
  flex-direction: row;
  div {
    margin: 1rem;
  }
}
.buttonContainer {
  Button {
    background-color: orange;
    border-color: transparent;
  }

  Button:hover {
    background-color: rgb(255, 136, 0);
    border-color: transparent;
  }
}

.faqPanel {
  max-width: 38.27625rem;
}

.explanationText {
  max-width: 50rem;
  width: 100%;
  h2 {
    margin: 1rem auto;
  }
}

.comptetitionExpl {
  padding: 5%;
  background: rgba(0, 0, 0, 0.493);
  backdrop-filter: blur(0.25rem);
}
.firstCarouselElement,
.secondCarouselElement {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.firstCarouselElement {
  background-image: url(../../assets/ebec/innovativeDesign.jpg);
}
.secondCarouselElement {
  background-image: url(../../assets/ebec/caseStudy.jpg);
}

.ebecPyramidImage {
  max-width: 25rem;
  display: flex;
}
.judgeCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: background-color 0.3s;
}

.judgeCard:hover {
  background-color: rgba(128, 128, 128, 0.342);
}
.judgeCardImg {
  margin: 0.5rem;
}
.judgeInformation {
  margin: auto 3rem auto 3rem;
}
