.tabContent,
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSteps {
  width: inherit;
  max-width: 60rem;
}
.tabStyle {
  margin-left: 1rem;
}
.tabContent {
  flex-direction: column;
}

.buttonContainer {
  Button {
    background-color: orange;
    border-color: transparent;
  }

  Button:hover {
    background-color: rgb(255, 136, 0);
    border-color: transparent;
  }
}

.faqPanel {
  max-width: 38.27625rem;
}

.explanationText {
  max-width: 50rem;
  width: 100%;
  h2 {
    margin: 1rem auto;
  }
}

.applyForm {
  width: inherit;
  max-width: 50rem;
}

.comptetitionExpl {
  width: 100%;
  height: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.493);
  color: white !important;
  backdrop-filter: blur(0.25rem);
  h3 {
    color: white;
  }
}
.firstCarouselElement,
.secondCarouselElement {
  position: relative;
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ebecPyramidImage {
  max-width: 25rem;
  display: flex;
}
.judgeCard {
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: background-color 0.3s;
}

.judgeCard:hover {
  background-color: rgba(128, 128, 128, 0.342);
}
.judgeCardImg {
  margin: 0.5rem;
  max-width: 250px;
}
.judgeInformation {
  margin: auto 3rem auto 3rem;
}

.prevEbecImg {
  object-fit: contain;
}
.coordinatorImg {
  max-width: 30rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  object-fit: scale-down;
  background-color: white;
  padding: 2rem;
  border-radius: 2%;
  div {
    margin-top: 1rem;
  }
  h2,
  h3 {
    color: black;
  }
  box-shadow: 0rem 0rem 1rem;
}

.teamImages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    margin: 5rem;
  }
}
.socialMedia {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  div {
    align-items: center;
    display: flex;
    margin: 1rem;
  }
}

.schedule {
  background-color: white;
  padding: 1rem;
  box-shadow: 0rem 0rem 1rem black;
  margin: 2rem;
  color: black;
  h3,
  h4 {
    color: black;
  }
  border-radius: 1%;
  text-align: center;
}
